EXPO_PUBLIC_BALLDONTLIE_API_KEY=
EXPO_PUBLIC_LLM_MODEL_URL=https://huggingface.co/executorch-community/Llama-3.2-1B-Instruct-ExecuTorch/resolve/main/llama3_2_1B_instruct_xnnpack.pte
EXPO_PUBLIC_LLM_TOKENIZER_URL=https://huggingface.co/executorch-community/Llama-3.2-1B-Instruct-ExecuTorch/resolve/main/tokenizer.bin
EXPO_PUBLIC_LLM_CHECKSUM_SHA256=
